.ConfirmationModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.ConfirmationModal h2 {
  font-size: 18px;
  width: 80%;
  max-width: 400px;
  line-height: 30px;
  margin-bottom: 40px;
}

.ConfirmationModal button {
  outline: 0;
  line-height: 20px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: .5s all;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.ConfirmationModal button:hover {
  background: #f44336;
  color: #fff;
  transform: scale(1.3);
}
