.Leaderboard {
  background: #eee;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 1;
  animation: expand-leaderboard .5s;
}

.Leaderboard div, .Leaderboard table {
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Leaderboard th {
  text-align: right;
  padding: 10px;
}

.Leaderboard td {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #aaa;
}

.Leaderboard .left {
  text-align: left;
}

.Leaderboard__noGames {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

@keyframes expand-leaderboard {
  0%   { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
